LOID_TOKEN = YOUR_BOT_TOKEN_HERE
LOID_WEBHOOK = https://discord.com/api/webhooks/1234567890123456789/...

# Recommended to use default values, except for password.
# You can remove values that uses default.
# Database supports MySQL ONLY.

LOID_MYSQL_HOST = localhost
LOID_MYSQL_PORT = 3306
LOID_MYSQL_USER = root
LOID_MYSQL_PASSWORD = yourmysqlpassword
LOID_MYSQL_SCHEMA = loid
